.navbar{
    background-color: rgba(0, 0, 0, 0.883);
    border-bottom: rgba(0, 0, 0, 0.883);
}

.navbar .nav-item .nav-link{
    color: white;
}

.height-carousel{
    max-height: 610px;
    min-height: 610px;
}

.info, .row{
    display: flex;
    justify-content: center;
    text-align: center;
}

.card{
    background-color: none !important;
    border: none !important;
    margin: 20px;
}

footer{
    background-color: rgba(0, 0, 0, 0.883);
    border-top: rgba(0, 0, 0, 0.883);
}

.list-unstyled li a{
    color: white !important;
}